# 🔹 Игнорируем виртуальное окружение
venv/
.env
.venv/
env/

# 🔹 Кэш и временные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# 🔹 Логи и временные файлы
*.log
logs/
debug.log

# 🔹 Файлы IDE (PyCharm, VS Code и другие)
.idea/
.vscode/
*.sublime-workspace

# 🔹 Исключаем видеофайлы (кроме примеров)
intput_video/*
output_video/*

# 🔹 Исключаем файлы моделей (если скачаны вручную)
*.onnx
*.pth
*.pt
models/
